.bookContainer{
    background-color: #676767;
    color: white;
    width: 100%;
    margin-right: 0;
    margin-left: 0;

    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
    margin-top: 10px;
    margin-bottom: 10px;
}

.bookContainer:hover{
    cursor: pointer;
    opacity: 0.8;
}

.titleBook{
    margin-top: 10px;
    font-size: xx-large;
}

.authorsBook{
    font-size:large;
}

.colTextBook{
    margin-left: 15px;
}


@media (max-width:740px) {
    .titleBook{
        font-size: large;
    }
    
    .authorsBook{
        font-size: medium;

    }
    
    .colTextBook{
        margin-left: 0;
     
    }
    
  }